.question-content {
    border-bottom: 1px solid var(--gray-light);
}

.rating-up {
    color:var(--primary);
} 

.rating-down {
    color:var(--warning);
}


.question-text, .question-response-text {
    line-height: var(--line-height-hight);
    white-space: pre-wrap;
}